.container{
    align-items: center;
    justify-content: center;
    height: 90vh;
    display: flex;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #00000083;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container h1{
    font-size: 24px;
    margin-bottom: 70px;
    margin-top: 20px;
    text-align: center;
    padding: 0px 150px;
}

.container label{
    font-size: 18px;
    margin-bottom: 10px;
}

.campos{
    display: flex;
    flex-direction: column;
}

.campos input{
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #00000083;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-left: 10px;
}

.form button{
    height: 50px;
    width: 315px;
    margin-bottom: 20px;
}

.cadastrar a{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.extra{
    margin-bottom: 10px;
    margin-left: auto;
}

